MotoringCanonicalUrls/Web References/UpdatePropertyService/propertysetterwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdatePropertyFor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nodeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyAlias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePropertyForResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePropertyForResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdatePropertyForSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePropertyFor" />
  </wsdl:message>
  <wsdl:message name="UpdatePropertyForSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePropertyForResponse" />
  </wsdl:message>
  <wsdl:portType name="PropertySetterWebServiceSoap">
    <wsdl:operation name="UpdatePropertyFor">
      <wsdl:input message="tns:UpdatePropertyForSoapIn" />
      <wsdl:output message="tns:UpdatePropertyForSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PropertySetterWebServiceSoap" type="tns:PropertySetterWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePropertyFor">
      <soap:operation soapAction="http://tempuri.org/UpdatePropertyFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PropertySetterWebServiceSoap12" type="tns:PropertySetterWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePropertyFor">
      <soap12:operation soapAction="http://tempuri.org/UpdatePropertyFor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertySetterWebService">
    <wsdl:port name="PropertySetterWebServiceSoap" binding="tns:PropertySetterWebServiceSoap">
      <soap:address location="http://localhost:62826/services/propertysetterwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PropertySetterWebServiceSoap12" binding="tns:PropertySetterWebServiceSoap12">
      <soap12:address location="http://localhost:62826/services/propertysetterwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>